$primary-color: #222222;
$secondary-color: #0da0d3;
$show-home-image:true;
$home-image: url(../img/background.jpg);
$background-opacity:0.9;
@mixin background{
@if $show-home-image{
  &#bg-img{
    background: $home-image;
    background-attachment: fixed;
    background-size: cover;
//sudo element
&:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  width:100%;
  height:100%;
  z-index: -1;
  background: rgba($primary-color,$background-opacity);
}
    }
}
}

// function- which returns value, Mixin does not return anything
//set text color
@function set-text-color($color)
{
  @if(lightness($color)>40)
  {
    @return #000;
      }
      @else{
      @return #fff;
      }
}
@mixin easeOut
{
    transition:all 0.5s ease-out;
}

@mixin mediaSm{
  @media screen and (max-width:500px)
  {
    @content;
  }
}
@mixin mediaMd{
  @media screen and (max-width:768px)
  {
    @content;
  }
}
@mixin mediaLg{
  @media screen and (min-width:769px) and (max-width:1170px)
  {
    @content;
  }
}
@mixin mediaXl{
  @media screen and (min-width:1171px)
  {
    @content;
  }
}
