// Menu button
.menu-btn{
  position: absolute;;
  z-index: 3;
  right: 35px;
  top:35px;
  cursor: pointer;
  @include easeOut;

  .btn-line{
  width: 28px;
  height:3px;
  margin: 0 0 5px 0;
  background: #fff;
  @include easeOut;
}
//Rotate Into X With Menu Lines
&.close{
  transform: rotate(180deg);
  .btn-line{
    //line 1 rotate sudo tag
    &:nth-child(1)
    {
      transform: rotate(45deg) translate(5px, 5px);
    }
    // Line 2 hidden
    &:nth-child(2)
    {
      opacity:0;
    }
    //line 3 - rotate
    &:nth-child(3){
      transform:rotate(-45deg) translate(7px,-6px);
    }
  }
}
}

//Menu Overlay
.menu{
  position: fixed;
  top:0;
  width:100%;
  //opacity: 0.9;
  visibility:hidden;

  &.show{
    visibility: visible;
  }
  // menu-branding can also be written as
  &-branding, &-nav{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float:left;
    width: 50%;
    height:100vh;
    overflow: hidden;

  }
  &-nav{
    margin:0;
    padding:0;
    background: darken($primary-color,5);
    list-style:none;
    transform: translate3d(0,-100%,0);
    @include easeOut;
      opacity: 0.8;
    &.show
    {
      //slide in from top
    transform: translate3d(0,0,0);
    }
  }
 //Branding side3
 &-branding{
   background: $primary-color;
   transform: translate3d(0,100%,0);
   @include easeOut;
   &.show
   {
     //slide in from bottom
   transform: translate3d(0,0,0);
   }

   .potrait{
     width: 250px;
     height:250px;
     background: url('../img/portrait.jpg');
     border-radius:50%;
     border:solid 3px $secondary-color;
 ;
   }
 }
.nav-item{
  transform: translate3d(600px,0,0);
  @include easeOut;
   &.show{
     //slide in from right
     transform:translate3d(0,0,0);
   }
   &.current > a{
     color:$secondary-color;
   }
}
.nav-link
{
  display: inline-block;
  position:relative;
  font-size:30px;
  text-transform: uppercase;
  padding:1rem 0;
  font-weight:300;
  color:#fff;
  text-decoration: none;
  @include easeOut;
  &:hover{
    color: $secondary-color;
  }
}
}
// delay each nav item slide bt 0.1s
@for $x from 1 through 4
{
  .nav-item:nth-child(#{$x})
  {
    transition-delay: $x*0.1s;
  }
}
