@import 'config';
@import 'menu';

// this does not let the size the element change while padding
*{
  box-sizing:border-box;
}

body{
  @include background;
  background: $primary-color;
  color:set-text-color($primary-color);
  height: 100%;
  margin:0;
  font-family: 'Segoe UI', Tahoma,Geneva, Verdana, sans-serif;
  line-height: 1.5;
}
//headings
h1,h2,h3{
  margin:0;
  font-weight: 400;
  //h1.lg-heading - replacement
  &.lg-heading{
    font-size:6rem;
  }
    &.sm-heading{
      margin-bottom:2rem;
      padding: 0.2rem 1rem;
      background: rgba(lighten($primary-color,2),0.5);
    }
    }
a{
  color: #fff;
text-decoration:none;
}
header{
  position:fixed;
  z-index:2;
  width:100%;
}
.text-secondary{
color:$secondary-color;
}
main{
  padding: 4rem;
  //height:100%;
  min-height:calc(100vh - 60px);
  .icons{
    margin-top:1rem;
    a{
      padding:0.4rem;
      &:hover{
        color:$secondary-color;
@include easeOut();
      }
      }
  }
  &#home{
    overflow:hidden;
    h1{
      margin-top: 20vh;
    }
  }
}
.about-info{
  display: grid;
  grid-gap:30px;
  grid-template-areas:
  'bioimage bio bio'
  'skill1 skill2 skill3';
  grid-template-columns: repeat(3,1fr);
  .bio-image{
    grid-area:bioimage;
    margin:auto;
    border-radius: 50%;
    border:$secondary-color 3px solid;
  }
  .bio
  {
    grid-area:bio;
    font-size:1.5rem;
  }
  .skill-1
  {
    grid-area:skill1;
  }
  .skill-2
  {
    grid-area:skill2;
  }
  .skill-3
  {
    grid-area:skill3;
  }
  .skill {
    background: lighten($primary-color,5);
    padding:0.5rem;
    border-bottom: $secondary-color 5px solid;
  padding :0px;
    h3
    {
      background: $secondary-color;
      margin:0;
      padding:10px;
      color:set-text-color($secondary-color);
    font-family: 'Noto Sans JP', sans-serif;
    }
  }

}
#main-footer
{
  text-align:center;
  padding:1rem;
  background:darken($primary-color,10);
  color:set-text-color($primary-color);
  height:60px;
}
@import 'mobile';
